<!doctype html>
<html lang="en">
    {{>header}}
  <body>
      <center><img src="images/404.jpeg" >
      
    <br>

     <a href="/"><button type="button" class="btn btn-secondary">Back</button></a> 

      </center>

   
  </body>
</html>