<!doctype html>
<html lang="en">
{{>header}}

<body>

  {{>navbar}}
  <br>


  <div class="container-fluid main_menu">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">

          {{!-- left side --}}
          {{!--
          <div class="col-md-6 col-12 main_header_right">

          </div> --}}

          <div class="col-md-6 col-12 main_header_right" id="myname">
            <p>Author: Gaurav kanojia</p>

            <p>Date: 25 March</p>
            <p>Api: api.openweathermap</p>
            <p>Services: Nodejs, express, api, html, css</p>

          </div>


        </div>
      </div>
    </div>
  </div>

</body>

</html>